<div class="CI-container">
    <form [formGroup]="post" (ngSubmit)="submitInfo()" >
        <div class="mb-3">
            <label for="nameDessert" class="form-label">name dessert</label>
            <input type="text" formControlName="nameDessert" class="form-control" id="nameDessert">
        </div>
        <div class="mb-3">
            <label for="ingredients" class="form-label">ingredients</label>
            <textarea type="text" formControlName="ingredients" class="form-control text" id="ingredients"></textarea>
        </div>
        <div class="mb-3">
            <label for="preparation" class="form-label">preparation</label>
            <textarea type="text" formControlName="howToMake" class="form-control text" id="preparation"></textarea>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">category</label>
            <select name="category" formControlName="category" class="form-control" id="category">
                <option value="pasteles">pasteles</option>
                <option value="helados">helados</option>
                <option value="bebidas">bebidas</option>
                <option value="otros">otros</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">image</label>
            <input type="text" formControlName="image" class="form-control" id="image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="post-user">
    @for(post of info; track $index){
        <div class="post">
            <a routerLink="/info-post/{{post.category}}/{{post._id}}" class="post-link">
                <img src="{{post.image}}" alt="{{post.nameDessert}}" class="image">
                <p class="texto-info">{{post.nameDessert}}</p>
                <p class="texto-info">{{post.category}}</p>
            </a>
            <div class="button-options">
                <button type="button" class="delete btn btn-danger" (click)="delete(post._id)">
                    delete
                </button>
                <button type="button" class="edit btn btn-secondary" (click)="edit(post.category, post._id)">
                    edit
                </button>
            </div>
        </div>
    }
</div>
@if (!this.COmodal.response) {
    <app-edit [cat]="editCat" [id]="editId"/>
} @else {
    
}
