<div class="CI-container">
    <form>
        <div>
            <label for="nameDessert">name dessert</label>
            <input type="text">
        </div>
        <div>
            <label for="ingredients">ingredients</label>
            <input type="text">
        </div>
        <div>
            <label for="preparation">preparation</label>
            <input type="text">
        </div>
        <div>
            <label for="cateory">category</label>
            <input type="search">
        </div>
        <div>
            <label for="cateory">image</label>
            <input type="file" accept="image/*">
        </div>
        <button type="submit">post</button>
    </form>
</div>