<div class="LI-container">
    <form [formGroup]="formLogIn" (submit)="submitLogIn()">
        <legend>log in</legend>
        <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>