<div class="E-container">
    <button (click)="closeEdit(true)" class="clodeButton btn-close" aria-label="Close"></button>
    <form [formGroup]="editform" (ngSubmit)="submitInfo()">
        <div class="mb-3">
            <label for="nameDessertEdit" class="form-label">name dessert</label>
            <input type="text" formControlName="nameDessert" class="form-control" id="nameDessertEdit">
        </div>
        <div class="mb-3">
            <label for="ingredientsEdit" class="form-label">ingredients</label>
            <textarea type="text" formControlName="ingredients" class="form-control text" id="ingredientsEdit"></textarea>
        </div>
        <div class="mb-3">
            <label for="preparationEdit" class="form-label">preparation</label>
            <textarea type="text" formControlName="howToMake" class="form-control text" id="preparationEdit"></textarea>
        </div>
        <div class="mb-3">
            <label for="categoryEdit" class="form-label">category</label>
            <select name="category" formControlName="category" class="form-control" id="categoryEdit">
                <option value="pasteles">pasteles</option>
                <option value="helados">helados</option>
                <option value="bebidas">bebidas</option>
                <option value="otros">otros</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="imageEdit" class="form-label">image</label>
            <input type="text" formControlName="image" class="form-control" id="imageEdit">
        </div>
        <button type="submit" class="btn btn-primary">save</button>
    </form>
</div>
