<div class="SU-container">
    <form class="mb-3" [formGroup]="formSignUp" (ngSubmit)="submitForm()">
        <legend>sign up</legend>
        <div>
            <label for="name" class="form-label">name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div>
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div>
            <label for="password" class="form-label">password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div>
            <label for="VPassword" class="form-label">verify password</label>
            <input type="password" class="form-control" id="VPassword" formControlName="VPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

