<nav class="navbar navbar-expand-lg bg-body-tertiary container-menu">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="home">
                    <button type="button" class="btn btn-dark">home</button>
                </a>
                <a class="nav-link" routerLink="second-page">
                    <button type="button" class="btn btn-dark">search</button>
                </a>
                <a class="nav-link" routerLink="about-us">
                    <button type="button" class="btn btn-dark">about us</button>
                </a>
            </div>
        </div>
    </div>
</nav>