<div class="SP-container">
    <div class="posts-container">
        @for (post of info; track $index) {
            <div class="post">
                <a routerLink="/info-post/{{post.category}}/{{post._id}}" class="post-link">
                    <img src="{{post.image}}" alt="{{post.nameDessert}}" class="image">
                    <p class="texto-info">{{post.nameDessert}}</p>
                    <p class="texto-info">{{post.category}}</p>
                    <p class="texto-info">nombre del usuario</p>
                </a>
            </div>
        }
    </div>
</div>